//fonts
@import url('https://fonts.googleapis.com/css?family=VT323')



//change cursor because why not?
  
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  background: linear-gradient(to right, #396afc, #2948ff)
  //color: #FF1461
  color: white
  font-family: VT323
  cursor: url("/assets/pizza.png"), auto;
  //background-image: url("/assets/kitty.png"), linear-gradient(141deg, #444 0%, #333 100%)