html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  //background: #FFDC00
  //height: 500vh


.hero
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column




@keyframes floating
  from
    transform: translate(0, 0px) rotateY(-12deg)
    drop-shadow: 10px 10px 3px rgba(0,0,0,0.15)
  65%
    transform: translate(0, 15px) rotateY(10deg) rotateX(10deg)
    drop-shadow: -10px -10px 3px rgba(0,0,0,0.15)
  to
    transform: translate(0, 0px) rotateY(-12deg)
    drop-shadow: 10px 10px 3px rgba(0,0,0,0.15)
