
  
.grid-container
  display: grid
  grid-gap: 3px
  padding: 6rem
  //border: 10px solid lime
  grid-template-columns: 1fr 7fr 1fr
  grid-template-rows: auto 150px auto 100px
  grid-template-areas: "hero hero hero" "sidebar-1 content sidebar-2" "sidebar-1 content sidebar-2" "footer footer footer"

.top-bar
  display: grid
  grid-gap: 6px
  grid-template-columns: repeat(auto-fit, 60px)
  //justify-content: center
  //background: orange

.bar-item
  //background: orange
  
  
.item
  display: grid
  justify-content: center
  align-items: center
  border: 1px dashed #ff6348
  //border-radius: 3px
  font-size: 15px
  //background-color: #EA2027

.hero
  grid-area: hero

.footer
  grid-area: footer

.item1
  grid-area: sidebar-1

.item2
  grid-area: content
  padding: 20px
  font-size: 25px

.item3
  grid-area: sidebar-2

@media (max-width: 700px)
  .grid-container
    padding: 0.5rem
    grid-template-areas: "hero hero hero" "sidebar-1 sidebar-2 sidebar-2" "content content content" "footer footer footer"
