.logo-large
  width: 500px
  height: auto
  //filter: drop-shadow( 3px 3px 5px grey )


  //position: fixed
  //top: 10px
  //width: 200px
  animation-name: floating
  animation-duration: 40s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  @media (max-width: 600px)
    width: 400px
  @media (max-width: 400px)
    width: 280px


@keyframes floating
  from
    transform: translate(0, 0px) rotateY(-18deg)
    filter: drop-shadow(10px 10px 3px rgba(0,0,0,0.15))
  65%
    transform: translate(0, 15px) rotateY(20deg) rotateX(10deg)
    filter: drop-shadow(-10px -10px 3px rgba(0,0,0,0.15))
  to
    transform: translate(0, 0px) rotateY(-18deg)
    filter: drop-shadow(10px 10px 3px rgba(0,0,0,0.15))
